{% extends "base.html" %}

{% block title %}Send Mail{% endblock %}
{% block navigation %}
<ul>
    <li>
        <a href="{{ url_for('welcome') }}">Welcome Page</a>
    </li>
</ul>
{% endblock %}
{% block content %}
<form action="{{ url_for('sendmessagejson') }}" enctype ='multipart/form-data' method = "POST" style="background-color:white;">
    <fieldset>
    {% if error %}
    <p style="color:red">
    {{ error }}
    </p>
    {% endif %}
    <p>
        Send to user: {{ multiselect|safe }}
    </p>
    <p>
        Message:<br>
        <textarea rows="10"cols="40" type="text" name="message"></textarea></br>
    </p>
    
    <button type="submit">Enter</button>
    </fieldset>
    
</form>
{% endblock %}
