{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="30" />
 {% endblock %}

{% block title %}Welcome{%endblock%}

{% block navigation %}
<ul>
    <li><a href="{{ url_for('sendmessage') }}">Send a message</a></li>
    <li><a href="/sentmail">Sent Mail</a></li>
    <li><a href="/todolist">To Do List</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% endblock %}
{% block content %}

    <p>Welcome, {{ username }}.</p>
    <p>Your Messages:</p>
    <form action="{{ url_for('welcome') }}" method="POST">
    <input type="image" src="../static/no_u5.png" alt="Submit" width="48" height="48">
    
    <div style="overflow-x:auto;">
        {{ table|safe }} 
    </div>

{% endblock %}





